<section class='p-4 bg-secondary'>
	<h2 class='text-primary'>Add a product</h2>
	<form action='/products' method='POST'>
		<div class='mb-3'>
			<label class='form-label fw-bold' for='name'>Name</label>
			<input class='form-control' type='text' name='name' />
		</div>
		<div class='mb-3'>
			<label class='form-label fw-bold' for='price'>Price</label>
			<input class='form-control' type='number' name='price' />
		</div>
		<div class='mb-3'>
			<label class='form-label fw-bold' for='picture'>Picture URL</label>
			<input class='form-control' type='url' name='picture' />
		</div>
		<div class='mb-3'>
			<input class='btn btn-success' type='submit' value='Send' />
		</div>
	</form>
	<div>
		<a href='/'>
			<button class='btn btn-warning'>See all Products</button>
		</a>
	</div>
</section>